<!DOCTYPE html>
<html>
    <style>
        input {
            border: 0;
            outline: 0;
            background: transparent;
            border-bottom: 1px solid black;
        }
    </style>
    <body>
    <h1>Animals</h1>
    <p>
        A group of <input type="text" name="subject" id="subject"> is a <span id="collective"></span>
    </p>
    <script>
     document.addEventListener('keypress', (event) => {
         const keyName = event.key;
         if (keyName == 'Enter'){
             getCollective();
         }
     });

     function getCollective(){
         const subject = document.getElementById('subject').value;
         const collectiveElem = document.getElementById('collective');
         const link = `/collective?subject=${subject}`;
         fetch(link).then((response)=>{
             if (response.ok)
                return response.text();
            else
                return Promise.reject('Response was bad');
         }).then((text) =>{
             if(text.length ===0)
                collectiveElem.innerHTML = '';
            else
                collectiveElem.innerHTML = text.split(',').join(' or ') + '.';
         }).catch(()=>{
            collectiveElem.innerHTML = '';
         });
     }
    </script>
    </body>
</html>
